@model MovieList.Models.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.owner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Like)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Like)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deslike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deslike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Award)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
