@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row w-100" aria-labelledby="aspnetTitle">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline w-100" }))
        {
            <div class="d-flex flex-wrap w-100">
                <h2 style="margin-right: 16px;">Buscar Filme</h2>
                <div class="form-group flex-grow-1">
                    <input type="text" name="searchString" class="form-control w-100" placeholder="Pesquisar" style="width: 100%; max-width: 100%; margin-right: 16px">
                </div>
                <button type="submit" class="btn btn-primary flex-shrink-0 ml-2" style="margin-left: 16px;">Buscar</button>
            </div>
        }
    </section>



    <div class="row">
        <section class="col-sm" aria-labelledby="Filmes">
            <div class="container">
                <div class="row">
                    @foreach (var item in ViewBag.results)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card-deck">
                                <div class="card w-80 h-80 m-3" style="width: 18rem;">
                                    @{
                                        if (@item.imageAddress != null)
                                        {
                                            <img class="card-img-top" src="@item.imageAddress" alt="movie banner">
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="~/Content/movie-banner.jpg" alt="movie banner" />
                                        }
                                    }
                                <div class="card-body">
                                    @*//trocar o id*@


                                    <h5 class="card-title">@item.title</h5>
                                    <p class="card-text">@item.description</p>
                                    <p class="card-text">@item.releaseYear</p>
                                    <input type="hidden" name="" class="form-control w-100" placeholder="Pesquisar" style="width: 100%; max-width: 100%; margin-right: 16px">
                                    <button type="submit" class="btn btn-primary flex-shrink-0 ml-2" style="margin-left: 16px;">Buscar</button>
                                    @using (Ajax.BeginForm("AddToWatched", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "" }))
                                    {
                                        if (ViewBag.mvl != null)
                                        {
                                            <div class="dropdown">
                                                <button type="submit" class="btn btn-success flex-shrink-0 ml-2" style="margin-left: 16px;">Assistido</button>
                                            </div>
                                        }
                                    }
                                    @using (Ajax.BeginForm("AddToWatch", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "" }))
                                    { 
                                    if (ViewBag.tmvl != null)
                                    {
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Para Assistir
                                                </a>

                                                <ul class="dropdown-menu">
                                                    @foreach (var mvl in ViewBag.tmvl)
                                                    {
                                                        <li><a class="dropdown-item" href="#">Action</a></li>

                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }
                                </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </section>
    </div>
</main>